body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

header, main {
    flex: 1;
}

header {
    background-color: #1c1c1c;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 150px; 
}

header h1 {
    margin-top: 20px;
    font-size: 2.5em;
    color: #ffa500;
    margin-bottom: 0; 
}

.navigation-index-page {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-titles {
    color: #ffa500;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 15px; 
    border: 2px solid #ffa500; 
    border-radius: 5px; 
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.nav-titles:hover {
    color: #fff;
    background-color: #ffa500; 
    transform: scale(1.1); 
    border-color: #fff; 
}

header h1 {
    margin-top: 20px;
    font-size: 2.5em;
    color: #ffa500;
}

main {
    padding: 20px;
    text-align: center;
}

.intro {
    margin-bottom: 30px;
    font-size: 1.2em;
    line-height: 1.6em;
    color: #ccc;
}

.games-preview {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.game-card {
    margin-top: 100px;
    background-color: #1c1c1c;
    border: 1px solid #ffa500;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.game-card h2 {
    color: #ffa500;
    margin-bottom: 10px;
}

.game-card p {
    color: #ccc;
}

.game-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(255, 165, 0, 0.7);
}

footer {
    margin-top: 345px;
    padding: 10px 0;
    background-color: #333;
    color: #ccc;
    font-size: 12px;
    text-align: center;
}