body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: white;
}

header {
    background-color: #333;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 150px;
}

.navigation-index-page {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-titles {
    color: #ffa500;
    text-decoration: none;
    font-size: 1.1em;
    padding: 10px 15px;
    border: 2px solid #ffa500;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.nav-titles:hover {
    color: #fff;
    background-color: #ffa500;
    transform: scale(1.1);
    border-color: #fff;
}